body{
    font-size: 22px;
    color: #000;
    background-color: #fff8cc;
    font-family: sans-serif
}
section {
    margin: 50px 100px;
}
.firstSection, .secondSection, .thirdSection{
    display: inline-block;
    width: 33%;
    vertical-align: top;
}
h1{
    text-align: center;
}
.firstSection img{
    border: solid #000 1px;
}
button {
    width: 130px;
    height: 43px;
    font-size: 21px;
    border: solid #000 1px;
    border-radius: 10px;
    background-color: rgb(244, 244, 244);
}
#aboutActor, #films {
    list-style: none;
    margin: 0;
}